In [36]:
!wget http://images.cocodataset.org/annotations/annotations_trainval2017.zip

--2025-10-31 16:05:19--  http://images.cocodataset.org/annotations/annotations_trainval2017.zip
Resolving images.cocodataset.org (images.cocodataset.org)... 3.5.19.134, 52.217.141.217, 16.15.204.228, ...
Connecting to images.cocodataset.org (images.cocodataset.org)|3.5.19.134|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 252907541 (241M) [application/zip]
Saving to: ‘annotations_trainval2017.zip.1’

annotations_trainva 100%[===================>] 241.19M  72.4MB/s    in 3.6s

2025-10-31 16:05:23 (66.9 MB/s) - ‘annotations_trainval2017.zip.1’ saved [252907541/252907541]

In [37]:
!unzip annotations_trainval2017.zip -d annotations

Archive:  annotations_trainval2017.zip
replace annotations/annotations/instances_train2017.json? [y]es, [n]o, [A]ll, [N]one, [r]ename:

In [38]:
import json
from collections import defaultdict

# Change this path to your file
file_path = "/content/annotations/annotations/instances_train2017.json"

with open(file_path, 'r') as f:
    data = json.load(f)

In [39]:
#Constants
Info = data.get('info',{})
Liscense = data.get('licenses',{})

In [40]:
#Vars
Imgs = data.get('images',[])
Anns = data.get('annotations',[])
categories = data.get('categories', [])

In [58]:
#Before changing
print(f"Number of images : {len(Imgs)}")
print(f"Number of Anns : {len(Anns)}")
print(f"Number of cats : {len(categories)}")

Number of images : 118287
Number of Anns : 860001
Number of cats : 80

In [41]:
# 1. Number of classes

num_classes = len(categories)
print("Number of classes:", num_classes)

# Print class IDs and names
for c in categories:
    print(f"  id={c['id']}, name={c['name']:15s} , supercategory={c['supercategory']}")

Number of classes: 80
  id=1, name=person          , supercategory=person
  id=2, name=bicycle         , supercategory=vehicle
  id=3, name=car             , supercategory=vehicle
  id=4, name=motorcycle      , supercategory=vehicle
  id=5, name=airplane        , supercategory=vehicle
  id=6, name=bus             , supercategory=vehicle
  id=7, name=train           , supercategory=vehicle
  id=8, name=truck           , supercategory=vehicle
  id=9, name=boat            , supercategory=vehicle
  id=10, name=traffic light   , supercategory=outdoor
  id=11, name=fire hydrant    , supercategory=outdoor
  id=13, name=stop sign       , supercategory=outdoor
  id=14, name=parking meter   , supercategory=outdoor
  id=15, name=bench           , supercategory=outdoor
  id=16, name=bird            , supercategory=animal
  id=17, name=cat             , supercategory=animal
  id=18, name=dog             , supercategory=animal
  id=19, name=horse           , supercategory=animal
  id=20, name=sheep           , supercategory=animal
  id=21, name=cow             , supercategory=animal
  id=22, name=elephant        , supercategory=animal
  id=23, name=bear            , supercategory=animal
  id=24, name=zebra           , supercategory=animal
  id=25, name=giraffe         , supercategory=animal
  id=27, name=backpack        , supercategory=accessory
  id=28, name=umbrella        , supercategory=accessory
  id=31, name=handbag         , supercategory=accessory
  id=32, name=tie             , supercategory=accessory
  id=33, name=suitcase        , supercategory=accessory
  id=34, name=frisbee         , supercategory=sports
  id=35, name=skis            , supercategory=sports
  id=36, name=snowboard       , supercategory=sports
  id=37, name=sports ball     , supercategory=sports
  id=38, name=kite            , supercategory=sports
  id=39, name=baseball bat    , supercategory=sports
  id=40, name=baseball glove  , supercategory=sports
  id=41, name=skateboard      , supercategory=sports
  id=42, name=surfboard       , supercategory=sports
  id=43, name=tennis racket   , supercategory=sports
  id=44, name=bottle          , supercategory=kitchen
  id=46, name=wine glass      , supercategory=kitchen
  id=47, name=cup             , supercategory=kitchen
  id=48, name=fork            , supercategory=kitchen
  id=49, name=knife           , supercategory=kitchen
  id=50, name=spoon           , supercategory=kitchen
  id=51, name=bowl            , supercategory=kitchen
  id=52, name=banana          , supercategory=food
  id=53, name=apple           , supercategory=food
  id=54, name=sandwich        , supercategory=food
  id=55, name=orange          , supercategory=food
  id=56, name=broccoli        , supercategory=food
  id=57, name=carrot          , supercategory=food
  id=58, name=hot dog         , supercategory=food
  id=59, name=pizza           , supercategory=food
  id=60, name=donut           , supercategory=food
  id=61, name=cake            , supercategory=food
  id=62, name=chair           , supercategory=furniture
  id=63, name=couch           , supercategory=furniture
  id=64, name=potted plant    , supercategory=furniture
  id=65, name=bed             , supercategory=furniture
  id=67, name=dining table    , supercategory=furniture
  id=70, name=toilet          , supercategory=furniture
  id=72, name=tv              , supercategory=electronic
  id=73, name=laptop          , supercategory=electronic
  id=74, name=mouse           , supercategory=electronic
  id=75, name=remote          , supercategory=electronic
  id=76, name=keyboard        , supercategory=electronic
  id=77, name=cell phone      , supercategory=electronic
  id=78, name=microwave       , supercategory=appliance
  id=79, name=oven            , supercategory=appliance
  id=80, name=toaster         , supercategory=appliance
  id=81, name=sink            , supercategory=appliance
  id=82, name=refrigerator    , supercategory=appliance
  id=84, name=book            , supercategory=indoor
  id=85, name=clock           , supercategory=indoor
  id=86, name=vase            , supercategory=indoor
  id=87, name=scissors        , supercategory=indoor
  id=88, name=teddy bear      , supercategory=indoor
  id=89, name=hair drier      , supercategory=indoor
  id=90, name=toothbrush      , supercategory=indoor

In [42]:
supercategory = set()
for c in categories :
  supercategory.add(c['supercategory'])

# all unique supercategory
for super in supercategory:
  print(super)

electronic
vehicle
indoor
appliance
food
kitchen
furniture
outdoor
person
sports
animal
accessory

In [71]:
# Number of images for each category
cat2imgs = defaultdict(set)
for ann in data.get('annotations', []):
    cat2imgs[ann['category_id']].add(ann['image_id'])
Sorted = list()


for c in categories:
    cid = c['id']
    cname = c['name']
    img_count = len(cat2imgs[cid])

    Sorted.append((cname,cid,img_count))

In [72]:
Sorted = sorted(Sorted,key= lambda x : x[2],reverse=True)
print("\nImages per class:")
for i in Sorted:
  print(f"  {i[0]:15s} ({i[1]}): {i[2]} images")

Images per class:
  person          (1): 64115 images
  chair           (62): 12774 images
  car             (3): 12251 images
  dining table    (67): 11837 images
  cup             (47): 9189 images
  bottle          (44): 8501 images
  bowl            (51): 7111 images
  handbag         (31): 6841 images
  truck           (8): 6127 images
  bench           (15): 5570 images
  backpack        (27): 5528 images
  book            (84): 5332 images
  cell phone      (77): 4803 images
  sink            (81): 4678 images
  clock           (85): 4659 images
  tv              (72): 4561 images
  potted plant    (64): 4452 images
  couch           (63): 4423 images
  dog             (18): 4385 images
  knife           (49): 4326 images
  sports ball     (37): 4262 images
  traffic light   (10): 4139 images
  cat             (17): 4114 images
  umbrella        (28): 3968 images
  bus             (6): 3952 images
  tie             (32): 3810 images
  bed             (65): 3682 images
  vase            (86): 3593 images
  train           (7): 3588 images
  fork            (48): 3555 images
  spoon           (50): 3529 images
  laptop          (73): 3524 images
  motorcycle      (4): 3502 images
  surfboard       (42): 3486 images
  skateboard      (41): 3476 images
  tennis racket   (43): 3394 images
  toilet          (70): 3353 images
  bicycle         (2): 3252 images
  bird            (16): 3237 images
  pizza           (59): 3166 images
  skis            (35): 3082 images
  remote          (75): 3076 images
  boat            (9): 3025 images
  airplane        (5): 2986 images
  horse           (19): 2941 images
  cake            (61): 2925 images
  oven            (79): 2877 images
  baseball glove  (40): 2629 images
  giraffe         (25): 2546 images
  wine glass      (46): 2533 images
  baseball bat    (39): 2506 images
  suitcase        (33): 2402 images
  sandwich        (54): 2365 images
  refrigerator    (82): 2360 images
  kite            (38): 2261 images
  banana          (52): 2243 images
  frisbee         (34): 2184 images
  elephant        (22): 2143 images
  teddy bear      (88): 2140 images
  keyboard        (76): 2115 images
  cow             (21): 1968 images
  broccoli        (56): 1939 images
  zebra           (24): 1916 images
  mouse           (74): 1876 images
  stop sign       (13): 1734 images
  fire hydrant    (11): 1711 images
  orange          (55): 1699 images
  carrot          (57): 1683 images
  snowboard       (36): 1654 images
  apple           (53): 1586 images
  microwave       (78): 1547 images
  sheep           (20): 1529 images
  donut           (60): 1523 images
  hot dog         (58): 1222 images
  toothbrush      (90): 1007 images
  bear            (23): 960 images
  scissors        (87): 947 images
  parking meter   (14): 705 images
  toaster         (80): 217 images
  hair drier      (89): 189 images

In [61]:
NewJson = dict()
NewJson['info'] = Info
NewJson['licenses'] = Liscense
NewJson

{'info': {'description': 'COCO 2017 Dataset',
  'url': 'http://cocodataset.org',
  'version': '1.0',
  'year': 2017,
  'contributor': 'COCO Consortium',
  'date_created': '2017/09/01'},
 'licenses': [{'url': 'http://creativecommons.org/licenses/by-nc-sa/2.0/',
   'id': 1,
   'name': 'Attribution-NonCommercial-ShareAlike License'},
  {'url': 'http://creativecommons.org/licenses/by-nc/2.0/',
   'id': 2,
   'name': 'Attribution-NonCommercial License'},
  {'url': 'http://creativecommons.org/licenses/by-nc-nd/2.0/',
   'id': 3,
   'name': 'Attribution-NonCommercial-NoDerivs License'},
  {'url': 'http://creativecommons.org/licenses/by/2.0/',
   'id': 4,
   'name': 'Attribution License'},
  {'url': 'http://creativecommons.org/licenses/by-sa/2.0/',
   'id': 5,
   'name': 'Attribution-ShareAlike License'},
  {'url': 'http://creativecommons.org/licenses/by-nd/2.0/',
   'id': 6,
   'name': 'Attribution-NoDerivs License'},
  {'url': 'http://flickr.com/commons/usage/',
   'id': 7,
   'name': 'No known copyright restrictions'},
  {'url': 'http://www.usa.gov/copyright.shtml',
   'id': 8,
   'name': 'United States Government Work'}]}

In [62]:
Newcat= list()
removedcats = [5,9,14,16,20,21,22,23,24,25,32,33,34,35,36,38,39,40,41,42,43,46,56,58,59,60,61,64,74,75,76,78,79,80,81,82,85,86,87,88,89,90]
for c in categories:
  if c['id'] not in removedcats :
    Newcat.append(c)
print(f"Number of classes : {len(Newcat)}")
NewJson['categories'] = Newcat

Number of classes : 38

In [68]:
NewAnns = list()
UsedImgs = set()
for ann in Anns:
  if ann['category_id'] not in removedcats:
    NewAnns.append(ann)
    UsedImgs.add(ann['image_id'])
print(f"Number of anns before : {len(Anns)}")
print(f"Number of anns after : {len(NewAnns)}")
NewJson['annotations']=NewAnns

Number of anns before : 860001
Number of anns after : 648022

In [69]:
NewImgs = list()
for img in Imgs:
  if img['id'] in UsedImgs:
    NewImgs.append(img)
print(f"Number of images before : {len(Imgs)}")
print(f"Number of images after : {len(NewImgs)}")
NewJson['images']= NewImgs

Number of images before : 118287
Number of images after : 99732

In [73]:
# Number of images for each category
cat2imgs = defaultdict(set)
for ann in NewJson.get('annotations', []):
    cat2imgs[ann['category_id']].add(ann['image_id'])
Sorted = list()


for c in Newcat:
    cid = c['id']
    cname = c['name']
    img_count = len(cat2imgs[cid])

    Sorted.append((cname,cid,img_count))
    Sorted = sorted(Sorted,key= lambda x : x[2],reverse=True)
print("\nImages per class:")
for i in Sorted:
  print(f"  {i[0]:15s} ({i[1]}): {i[2]} images")

Images per class:
  person          (1): 64115 images
  chair           (62): 12774 images
  car             (3): 12251 images
  dining table    (67): 11837 images
  cup             (47): 9189 images
  bottle          (44): 8501 images
  bowl            (51): 7111 images
  handbag         (31): 6841 images
  truck           (8): 6127 images
  bench           (15): 5570 images
  backpack        (27): 5528 images
  book            (84): 5332 images
  cell phone      (77): 4803 images
  tv              (72): 4561 images
  couch           (63): 4423 images
  dog             (18): 4385 images
  knife           (49): 4326 images
  sports ball     (37): 4262 images
  traffic light   (10): 4139 images
  cat             (17): 4114 images
  umbrella        (28): 3968 images
  bus             (6): 3952 images
  bed             (65): 3682 images
  train           (7): 3588 images
  fork            (48): 3555 images
  spoon           (50): 3529 images
  laptop          (73): 3524 images
  motorcycle      (4): 3502 images
  toilet          (70): 3353 images
  bicycle         (2): 3252 images
  horse           (19): 2941 images
  sandwich        (54): 2365 images
  banana          (52): 2243 images
  stop sign       (13): 1734 images
  fire hydrant    (11): 1711 images
  orange          (55): 1699 images
  carrot          (57): 1683 images
  apple           (53): 1586 images